<form method="post" action="{{ path('app_ligne3_delete', {'id': ligne3.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ligne3.id) }}">
    <button class="btn">Delete</button>
</form>
