<form method="post" action="{{ path('app_ligne7_delete', {'id': ligne7.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ligne7.id) }}">
    <button class="btn">Delete</button>
</form>
